body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #4c4f53;
    color: #ffffff;
    text-align: center;
}

header {
    background-color: #333435;
    color: white;
    padding: 20px 0;
    margin-bottom: 20px;
}

main {
    padding: 20px;
}   

#controln button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.primerboton {
    background-color: #242529;
    color: white;
}

.segundoboton {
    background-color: #6c757d;
    color: white;
}


#results-container {
    margin-top: 30px;
    padding: 20px;
    min-height: 100px;
}

.cargandomensaje {
    color: #007bff;
    font-size: 1.2em;
    font-style: italic;
}

.error-message {
    color: #dc3545;
    font-size: 1.2em;
    font-weight: bold;
    border: 1px solid #dc3545;
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
}


.cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
    text-align: left;
    border: #dc3545;
}

.book-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.book-card:hover {
    transform: translateY(-5px);
}

.book-card h3 {
    color: #007bff;
    margin-top: 0;
    font-size: 1.2em;
}

.book-card p {
    margin: 5px 0;
    font-size: 0.9em;
}

.book-card .author {
    font-style: italic;
    color: #6c757d;
}

.project-card {
  border: 2px solid #2e2e2e;   /* color azul; cámbialo por el que prefieras */
  box-sizing: border-box;
  border-radius: 8px;
  padding: 15px;
  background-color: #ffffff;   /* para que contraste con el fondo oscuro */
  color: #222;                 /* texto oscuro dentro de la tarjeta */
  transition: transform 0.15s;
}

.project-card {
  border: 2px solid #3d3d3d;   /* color azul; cámbialo por el que prefieras */
  box-sizing: border-box;
  border-radius: 8px;
  padding: 15px;
  background-color: #ffffff;   /* para que contraste con el fondo oscuro */
  color: #222;                 /* texto oscuro dentro de la tarjeta */
  transition: transform 0.15s;

}

.project-card:hover {
  transform: translateY(-4px);
}
.cards-grid {
  display: flex;
  flex-wrap: wrap;       
  justify-content: center;
  gap: 20px;             
  text-align: center;   }






.bottonDelIndex {
    
    display: inline-block;
    padding: 8px 15px;
    margin-left: 10px;
    text-decoration: none; 
    background-color: #5d5d5e;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    border: rgb(29, 26, 32);
    cursor: pointer;
}



